include LICENSE.txt
include README.rst
include exmemo/sphinx/favicon.ico
recursive-include exmemo/cookiecutter *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .*.sw?

